body {
  text-align: center;
  background-color: #011f3f;
}

// No es recomendado estilizar ids, yo le pondria una clase a este elemento
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

// En estos dias hablamos de flex :) El layout se puede simplificar
.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #000;
  border-radius: 20%;
}

.game-over {
  background-color: #ff0000; 
  opacity: 0.8;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: green; // hexadecimal porfis
}

.blue {
  background-color: blue; // hex
}

.yellow {
  background-color: yellow; // hex
}

// escribir todo esto lo evitarias con autoprefixer!
.button-to-press {
  animation: fadein .5s;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

// los keyframes siempre van al final!
// escribir todo esto lo evitarias con autoprefixer!
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}